.awpc-contact {
	text-align: center;
	background-color: #ffc82d;
	background-image: url('../images/wallpaper.png');

	p {
		color: #fff;
	}

	h2 {
		color: #fff;
		font-size: 24px;
		font-weight: bold;
	}
}
